<main class="form-shorten">
  <form action='/links' method='post' accept-charset="UTF-8">
    <h1 class="h3 mb-3 fw-normal">Short links with 1 click!</h1>
    <p>A URL shortener to help transfeorm any long URL into a shorter, more readable link that can be shared across multiple mediums easily.</p>

    <div class="form-floating">
      <label for="long_url">URL to shorten:</label>
      <input type="url" class="form-control" id="long_url" name="link[long_url]" placeholder="https://www.example.com">
    </div>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" >

    <button class="w-100 btn btn-lg btn-primary" type="submit">Shorten URL</button>
    
    <p class="mt-5 mb-3 text-muted text-center">
      <% if params[:short_url] %>
        <span>Your shortened URL is:</span><br>
        <%= link_to params[:short_url], params[:url], target: :_blank %>
      <% end %>
    </p>
  </form>
</main>