// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-shorten {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  margin: auto;
  background: white;
  border-radius: 18px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  h1 {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
  }

  label {
    font-weight: 600;
  }

  input[type='url'] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
